NationalParks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://venus.sod.asu.edu/WSRepository/xml" targetNamespace="http://venus.sod.asu.edu/WSRepository/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en"> Francisco Ponce - Distributed Software Development - Assignment 4 </xsd:documentation>
	</xsd:annotation>

	<!-- Custom Types -->
	<xsd:simpleType name="nonEmptyStringType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}\-\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USStateType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USZipCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RatingType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="5.0"/>
		</xsd:restriction>
	</xsd:simpleType>


	<!-- Address -->
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:positiveInteger"/>
			<xsd:element name="Street" type="nonEmptyStringType"/>
			<xsd:element name="City" type="nonEmptyStringType"/>
			<xsd:element name="State" type="USStateType"/>
			<xsd:element name="Zip" type="USZipCodeType"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="nonEmptyStringType" use="required"/>
	</xsd:complexType>

	<!-- National Park -->
	<xsd:complexType name="NationalParkType">
		<xsd:sequence>
			<xsd:element name="Name" type="nonEmptyStringType"/>
			<xsd:element name="Phone" type="PhoneType" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressType"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="RatingType" use="optional"/>
	</xsd:complexType>


	<!-- National Parks -->
	<xsd:complexType name="NationalParksType">
		<xsd:sequence>
			<xsd:element name="NationalPark" type="NationalParkType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Root element -->
	<xsd:element name="NationalParks" type="NationalParksType"/>

</xsd:schema>
